<ion-content padding>
  <div class="img">
    <img
      src="assets/imgs/car-welcome.png"
      onerror="this.onerror=null;this.src='assets/imgs/logo.png';"
    />
  </div>
  <div class="text">
    <h2 *ngIf="lang == 'ar'">{{title}}</h2>
    <h2 *ngIf="lang == 'en'">{{title}}</h2>
    <p *ngIf="lang == 'ar'">
      {{text}}
    </p>
    <p *ngIf="lang == 'en'">
      {{text}}
    </p>
  </div>
  <div class="btn">
    <button ion-button block (click)="goToTabs()">
      <span *ngIf="lang == 'ar'"> ابدأ الآن</span>
      <span *ngIf="lang == 'en'">Start Now</span>
    </button>
  </div>
</ion-content>
